


	<div class="bg-warning-text px-5">
		<div class="">
			<center>
				<img src="/public/img/tecnico-microinformatica.jpg" class="img-fluid pb-3"style="width: 26rem;" alt="">
			<div class="row">
				<div class="col">
					<h2 class="card-title ml-1 pb-3">
						Sistemas Microinformatica
					</h2>
					<h3 class="card-title ml-1 pb-3">
						Recursos Humanos
					</h3>
				</div>
			</div>

		</center>
		</div>
		
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
		<div class="row" id="">
			<div class="col">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  <a class="nav-link" href="#">Acerca de la empresa</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Ingreso de Personal</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Contactos</a>
			</li>
		  </ul>
		</div>
		</div>
	  </nav>

