<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Pagina de Salida</title>
</head>
<body style="background-color: bisque;">
    <div class="container">

    <%-include('partials/encabezado.html');%>

    <% 
			
                var subtotal = 0;
				var impuesto = 0;
				var total = 0;
				var descuento = 0;
                var costo = 0;
                
              


			if(tipo==="Lic"){
				subtotal = kilowat * 1.2 * diat;
                impuesto = subtotal * .16;
                total = subtotal - impuesto; 

                
			}else if(tipo==="Maestria"){
				subtotal = kilowat * 1.5 * diat;
                impuesto = subtotal * .16;
                total = subtotal - impuesto; 

			}else if(tipo === "Doctorado"){
               	subtotal = kilowat * 2  * diat;
                impuesto = subtotal * .16;
                total = subtotal - impuesto; 
                 
            }

            
		%>
        <table class="table" style="background-color: rgb(77, 139, 219);">
            <thead>
                <tr>
                    <th scope="col">Numero Contrato:</th>
                    <th scope="col">Nombre empleado:</th>
                    <th scope="col">Domicilio:</th>
                    <th scope="col">Nivel de estudios:</th>
                    <th scope="col">Pago Diario:</th>
                    <th scope="col">Dias trabajados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%=numRecibo%></td>
                    <td><%=nomCliente%></td>
                    <td><%=domicilio%></td>
                    <td><%=tipo%></td>
                    <td><%=kilowat%></td>
                    <td><%=diat%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td><%=subtotal%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Impuesto</td>
                    <td><%=impuesto%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total a pagar</td>
                    <td><%=total%></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col m-2">
                <button type="submit">Enviar información</button>
                <button type="reset" class="" id="limpiar" onclick="limpiar()">Limpiar</button>
            </div>
            <div class="col">

            </div>
            
        </div>

    <%-include('partials/piePagina.html');%>

    </div>
    
</body>
</html>
<script>
    let refresh = document.getElementById('limpiar');
            refresh.addEventListener('click', _ => {
                        location.href="http://34.217.132.91:2000/paginaEntrada";
            });
</script>
